/* General */

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center !important;
  }
  }

  .navbar {
    opacity: 0.925;
    box-shadow: 1px 1px 5px rgb(41, 41, 41);
  }

  .nav-link {
    font-weight: 800;
    transition: 0.6s;
  }
  a.nav-link:hover {
    color: #E66633 !important;
    font-weight: 800;
  }
  .nav-link:active{
    color: #E66633 !important;
  }

  #nav-icon {
    font-size: 2.6rem;
    color: #E66633;
    text-shadow: 1px 1px 2px rgb(41, 41, 41);
    transition: 1.5s;
    margin-right: 13px;
  }

  #nav-icon:hover {
    color: rgb(202, 8, 2);
  }

  .btn {
    transition: 0.5s;
  }


/* Form */

.title {
  margin: 20px;
  padding: 10px;
  font-size: 40px;
  color: black;
}

form {
  margin-top: 70px;
}
#connect-title{
  margin-top: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: Snell Roundhand, cursive;
}

#btn{
  display: flex;
  justify-content: center;
}

#btn-form{
  display: flex;
  justify-content: center;
}

#btn-profile{
  display: flex;
  justify-content: center;
}

#btn-connexion{
  display: flex;
  justify-content: center;
}

#btn-article{
  display: flex;
  justify-content: center;
}

/* Home */

footer {
  bottom: 0;
  background-color: #242C4A;
  height: 100px;  
}

.carousel-inner{
  height:auto;
  width: 100%;
  overflow: hidden;
  margin-bottom: 32px;
  animation-duration: 0.7s;
}
.carousel .carousel-item {
  transition-duration: 0.7s;
}

.carousel-control-prev-icon {
  display: none;
}
.carousel-control-prev-icon:hover {
  display: block;
}
.carousel-control-next-icon {
  display: none;
}
.carousel-control-next-icon:hover {
  display: block;
}


/* Article */

#btn-article {
  display: flex;
  justify-content: center;
}

/* About */

#card-about {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

#card-about2 {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

/* Footer */

#page-bottom {
  margin-bottom: 0;
}
#footer {
  margin-bottom: 20px;
  padding-top: 0;
}

.fab {
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px rgb(41, 41, 41);
  transition: 1s;
}

#gitlab {
  color: #FFA044 ;
}
#gitlab:hover {
  color: #FF693C;
}

#gitkraken {
  color: #009286;
}
#gitkraken:hover {
  color: #045851;
}

#discord {
  color: #7087D4;
}
#discord:hover {
  color: rgb(38, 74, 192);
}

#codepen {
  color: white;
}
#codepen:hover {
  color: rgb(10, 10, 10);
}

#playstation {
  color: rgb(30, 118, 233);
}
#playstation:hover {
  color: rgb(5, 20, 85);
}

@media only screen and (max-width: 575px) {
  .carousel-inner {
    margin-top: 70px;
 }
 #remove-article {
  margin-left: 10px !important;
}
#article-title {
  font-size: 2rem !important;
}
#page-title {
  font-size: 1.9rem !important;
}
#article-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 10px;
}
h4, .h4 {
  font-size: 16px !important;
}
}

@media only screen and (max-width : 768px) {
  .carousel-inner {
   margin-top: 50px;
  }
  h4, .h4 {
    font-size: 17px !important;
  }
 }

 @media only screen and (min-width : 1920px) {
  .carousel-inner {
   height: 880px;
   margin-top: 50px;
  }
 }


.jumbotron:hover {
  transform: scale(1.010);
  box-shadow: 1px 1px 8px rgb(41, 41, 41);
}

.jumbotron {
  transition: 0.5s;
}

#add {
  margin-top: 125px;
  margin-bottom: 75px;
}
#up {
  margin-top: 125px;
  margin-bottom: 75px;
}

p {
  white-space: pre-line;
}

#text-content {
  font-weight: 500;
}

#home-content {
  font-weight: 380;
}

#date {
  font-weight: 500;
}

#projects:hover {
  color: rgb(252, 245, 245);
}

#projects {
  font-weight: 800;
  transition: 0.5s;
}

.img {
  animation-duration: 1.5s;
}

#article-title {
  font-size: 2.7rem;
}

#page-start {
  display: none;
}

.card-body .icons {
  transition: opacity 0.5s;
}

.card-body .icons:hover .card-link:not(:hover) {
  opacity: 0.5;
}