{% extends "skeleton.html.twig" %}

{% block title %}
  About
{% endblock title %}

{% block content %}
<div class="container-fluid mx-auto" id="card-about">
  <div class="col-md-6">
    <div class="card mb-4">
      <h3 class="card-header">Florian Ligonnet</h3>
      <div class="card-body">
        <h5 class="card-title">Web Developper</h5>
        <h6 class="card-subtitle text-muted">My Blog</h6>
      </div>
      <img style="width: 95%; display: block;" src="{{asset('image/arkham.jpg')}}" alt="Card image" class="img-responsive mx-auto">
      <div class="card-body">
        <p class="card-text">A blog about videogames and stuff I'm fond of. Since I was a child I always loved playing. </p>
      </div>
      <hr class="my-4">
      <div class="card-body mx-auto">
        <li class="list-group-item text-center">My other projects</li>
          <a href="https://www.simplonlyon.fr/promo6/fligonnet/SuperDevWorld/src/intro.html" target="_blank" class="card-link" id="projects">Super Dev World</a>
          <a href="https://www.simplonlyon.fr/promo6/fligonnet/ecommerce/" target="_blank"  class="card-link" id="projects">Cocoa Dream</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}