{% extends "skeleton.html.twig" %}

{% block title %}
  Add Article
{% endblock title %}


    
{% block content %}
<div class="col-md-6 mx-auto" id="add">
<h3>Add Article</h3>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-outline-success mb-4">Submit</button>
{{ form_end(form) }}
</div>    
{% endblock content %}
  
  