{% extends "skeleton.html.twig" %}

{% block title %}
  Article
{% endblock title %}


{% block content %}

<div class="container-fluid mx-auto" id="card-about">
    <div class="col-md-8">
      <div class="card mb-4">
        <h1 class="card-header text-center" id="page-title">{{article.title}}</h1>
        <img style="width: 95%; display: block;" src="{{asset(article.url)}}" alt="Card image" class="img mx-auto mt-4 mb-2 animated fadeIn">
        <div class="card-body">
          <p class="card-text mt-2" id="text-content">{{article.content}}</p>
        </div>
        <hr class="my-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{article.author}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{article.date.format("Y/m/d")}}</li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
        <a class="btn btn-outline-info" href="{{path('update_article', {id:article.id})}}">Update Article</a></li>
        </ul>   
      </div>
    </div>
  </div>
  

  {% endblock content %}