{% extends "skeleton.html.twig" %}

{% block title %}
  Connexion
{% endblock title %}

{% block content %}
<div>
<h1 class="col-md-2 mx-auto" id="connect-title">Connexion</h1>
</div>

<div class="form-group col-md-3 mx-auto">
  <label for="email">Email:</label>
<input class="form-control " type="email" placeholder="Email" name="email">
</div>


<div class="form-group col-md-3 mx-auto">
  <label for="pswd">Password:</label>
<input class="form-control " type="password" placeholder="Password" name="pswd">
</div>

<div>
  <button type="button" class="btn btn-primary btn-lg mx-auto" id="btn-connexion">Log In</button>
</div>

</form>


{% endblock content %}