{% extends "skeleton.html.twig" %}

{% block title %}
  Register
{% endblock title %}

{% block content %}
<div>
<h1 class="col-md-3 mx-auto" id="connect-title">Suscribe</h1>
</div>

  <form  method="POST" action=" {{path('form')}} " class="form-group">
<div class="form-group col-md-5 mx-auto">
<label for="name">Name:</label>
    <input class="form-control " type="text" placeholder="Name" name="name">
</div>

<div class="form-group col-md-5 mx-auto">
  <label for="username">Username:</label>
<input class="form-control " type="text" placeholder="Username" name="username">
</div>

<div class="form-group col-md-5 mx-auto">
  <label for="email">Email:</label>
<input class="form-control " type="email" placeholder="Email" name="email">
</div>

<div class="form-group col-md-5 mx-auto">
  <label for="mail">Email Confirmation:</label>
<input class="form-control " type="email" placeholder="Email confirmation" name="mail">
</div>

<div class="form-group col-md-5 mx-auto">
  <label for="pswd">Password:</label>
<input class="form-control " type="password" placeholder="Password" name="pswd">
</div>

<div>
<button type="button" class="btn btn-primary btn-lg mx-auto mb-4" id="btn-form">Register</button>
</div>

</form>


{% endblock content %}