{% extends "skeleton.html.twig" %}

{% block title %} 
  Home 
{% endblock title %} 


{% block content %}

<div id="page-start">Page-start</div>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade mx-auto" data-ride="carousel" style="width: 90%">
  <div class="carousel-inner mx-auto animated fadeIn">
    <div class="carousel-item active ">
      <img class="d-flex w-100" src="{{asset('image/horizon2.jpg')}}" alt="First slide">
    </div>
    <div class="carousel-item ">
      <img class="d-flex w-100" src="{{asset('image/horizon4.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item ">
      <img class="d-flex w-100" src="{{asset('image/horizon1.jpg')}}" alt="Third slide">
    </div>
    <div class="carousel-item ">
      <img class="d-flex w-100" src="{{asset('image/horizon5.jpg')}}" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class="container-fluid">
    <div class="row">
  {% for row in result %}
  <div class="jumbotron col-lg-9 col-sm-10 mx-auto mt-1" id="article-content">
    <h1 class="text-center" id="article-title">{{row.title}}</h1>
    <hr class="my-4">
    <p class="lead mt-5" id="home-content">{{row.content[:600]}} ...</p>
    <hr class="my-4">
    <p>{{row.author}}</p>
    <p class="lead" id="date">{{row.date.format("Y/m/d")}}</p>
      <a class="btn btn-outline-primary" href="{{path('article-page',{id:row.id})}}" role="button">Read Article</a>
      <a class="btn btn-outline-danger ml-3" id="remove-article" href="{{path('remove_article', {id:row.id})}}">Remove Article</a>
  </div>
  {% endfor %}
    </div>
  </div>

{% endblock content %}
