{% extends "skeleton.html.twig" %}

{% block title %}
 Profile
{% endblock title %}

{% block content %}
<div>
<h1 class="col-md-3 mx-auto" id="connect-title">Edit Profile</h1>
</div>

  <form  method="POST" action=" {{path('profile')}} " class="form-group">

<div class="form-group col-md-4 mx-auto">
<label for="name">Name:</label>
    <input class="form-control " type="text" placeholder="Name" name="name">
</div>

<div class="form-group col-md-4 mx-auto">
  <label for="username">Username:</label>
<input class="form-control " type="text" placeholder="Username" name="username">
</div>

<div class="form-group col-md-4 mx-auto">
  <label for="avatar">Avatar:</label>
<input class="form-control " type="file" placeholder="Avatar" name="avatar">
</div>

<div class="form-group col-md-4 mx-auto">
  <label for="bio">Bio:</label>
<textarea name="bio" id="bio" placeholder="Bio" cols="65" rows="10"></textarea>
</div>

<div class="form-group col-md-4 mx-auto">
  <label for="pswd">Password:</label>
<input class="form-control " type="password" placeholder="Password" name="pswd">
</div>

<div>
  <button type="button" class="btn btn-outline-primary  mx-auto mb-4" id="btn-profile">Submit</button>
</div>

</form>


{% endblock content %}