<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>
    {% block title %}
    My Blog
    {% endblock title %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">

  <link rel="shortcut icon" href="{{asset('image/favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{asset('image/favicon.ico')}}" type="image/x-icon">

  <link rel="stylesheet" href="{{asset('css/style.css')}}">

</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(document).ready(function() {
		$('.js-scrollTo').on('click', function() { // Au clic sur un élément
			var page = $(this).attr('href'); // Page cible
			var speed = 1000; // Durée de l'animation (en ms)
			$('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
			return false;
		});
	});
</script>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"><a class="js-scrollTo" href="#page-start"><i
          class="fab fa-phoenix-framework" id="nav-icon"></i></a>
      <a class="navbar-brand" href="{{path("home")}}">My <strong>Blog</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{{path("home")}}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{path("add-article")}}">Add Article</a>
          </li>
          <!--<li class="nav-item">
              <a class="nav-link" href="{{path("profile")}}">Profile</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{{path("about")}}">About</a>
          </li>
        </ul>
        <!-- <a href="/connexion"><button type="button" class="btn btn-outline-secondary">Log In</button></a>-->
      </div>
    </nav>

  </header>

  {% block content %}

  {% endblock content %}

  <footer id="page-bottom">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center mt-4 footer-title">My <strong>Blog</strong> &copy All rights reserved</h4>
      </div>
      <div class="card-body text-center icons" id="footer">
        <a href="https://gitlab.com/Darksocrate" target="_blank" title="Gitlab" class="card-link">
          <i class="fab fa-gitlab" id="gitlab"></i>
        </a>
        <a href="https://www.gitkraken.com/activation-success" target="_blank" title="Gitkraken" class="card-link">
          <i class="fab fa-gitkraken" id="gitkraken"></i>
        </a>
        <a href="https://www.playstation.com/en-us/" target="_blank" title="Playstation" class="card-link">
          <i class="fab fa-playstation" id="playstation"></i>
        </a>
        <a href="https://codepen.io/darksocrate/" target="_blank" title="Codepen" class="card-link">
          <i class="fab fa-codepen" id="codepen"></i>
        </a>
        <a href="https://discordapp.com/" target="_blank" title="Discord" class="card-link">
          <i class="fab fa-discord" id="discord"></i>
        </a>
      </div>
    </div>
  </footer>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://unpkg.com/scrollreveal"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>

<script src="{{asset('./js/app.js')}}"></script>

</html>