{% extends "skeleton.html.twig" %}

{% block title %}
  Update Article
{% endblock title %}


    
{% block content %}
<div class="col-md-6 mx-auto" id="up">
<h3>Update Article</h3>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-outline-success mb-4">Submit</button>
{{ form_end(form) }}
</div>    
{% endblock content %}
  